<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs-menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header id="main-content">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>assignment menu</ion-title>
    </ion-toolbar>
</ion-header>
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home/add-assignment">
            <ion-icon name="albums"></ion-icon>
            <ion-label>Add Assignment</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/home/view-assignment">
            <ion-icon name="eye"></ion-icon>
            <ion-label>View Assignment</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
