<ion-header>
    <ion-toolbar>
        <ion-title>view-assignment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>View assignment page1</p>
    <p>View assignment page2</p>
    <p>View assignment page3</p>
    <p>View assignment page4</p>
    <p>View assignment page5</p>
    <p>View assignment page6</p>
    <p>View assignment page7</p>
    <p>View assignment page8</p>
    <p>View assignment page9</p>
    <p>View assignment page1</p>
    <p>View assignment page2</p>
    <p>View assignment page3</p>
    <p>View assignment page4</p>
    <p>View assignment page5</p>
    <p>View assignment page6</p>
    <p>View assignment page7</p>
    <p>View assignment page8</p>
    <p>View assignment page9</p>
    <p>View assignment page1</p>
    <p>View assignment page2</p>
    <p>View assignment page3</p>
    <p>View assignment page4</p>
    <p>View assignment page5</p>
    <p>View assignment page6</p>
    <p>View assignment page7</p>
    <p>View assignment page8</p>
    <p>View assignment page9</p>
</ion-content>
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home/add-assignment">
            <ion-icon name="albums"></ion-icon>
            <ion-label>Add Assignment</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/home/view-assignment">
            <ion-icon name="eye"></ion-icon>
            <ion-label>View Assignment</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
