<ion-header>
    <ion-toolbar>
        <ion-title>add-assignment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>Add assignment page</p>
</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home/add-assignment">
            <ion-icon name="albums"></ion-icon>
            <ion-label>Add Assignment</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/home/view-assignment">
            <ion-icon name="eye"></ion-icon>
            <ion-label>View Assignment</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
